@using Core.Persistence.Models.Responses;
@using Jumper.Application.Features.ProjectDeclarations.Queries.GetByLoggedUserId;
@model List<GetByLoggedUserIdProjectDeclarationResponse>

@{
    SelectBoxModel selected = (SelectBoxModel)ViewData["SelectBoxModel"]!;
}
<div class="form-floating">
    <select class="form-control form-control-sm" placeholder="Proje Seçin" name="@selected.Name" style="width:100%">
        <option value="@null">Lütfen Proje Seçin</option>
        @foreach (var item in Model)
        {
            if (selected.SelectedValue == item.Id.ToString())
            {
                <option selected value="@item.Id">@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>
            }

        }
    </select>

    <label class="form-label mr-4" for="EntitySelect">Proje </label>
</div>