@using Core.Persistence.Models.Responses;
@using Jumper.Application.Features.PropertyInputTypeDeclarations.Queries.GetAllFromCache;
@using Jumper.Application.Features.PropertyInputTypeDeclarations.Queries;
@model List<GetAllFromCachePropertyInputTypeDeclarationResponse>

@{
    SelectBoxModel selected = (SelectBoxModel)ViewData["SelectBoxModel"]!;
}
<div class="form-floating">
    <select class="form-control form-control-sm" placeholder="Input Tipi Seçin" name="@selected.Name" style="width:100%">
        <option value="@null">Seçim Yapın</option>
        @foreach (var item in Model)
        {
            if (selected.SelectedValue == item.Id.ToString())
            {
                <option selected value="@item.Code">@item.Name</option>
            }
            else
            {
                <option value="@item.Code">@item.Name</option>
            }

        }
    </select>

    <label class="form-label mr-4" for="@selected.Name"> Input Tipi </label>
</div>