@using Jumper.Application.Features.EntityPropertyDefinitions.Commands.Create;
@using Jumper.Application.Features.PropertyTypeDeclarations.Queries.GetAllFromCache;
@using Jumper.Domain.Entities;

@model CreateEntityPropertyDefinitionCommand


<form class="row row-cols-lg-auto g-3 align-items-center" method="post" action="@Url.Action("Create","EntityPropertyDefinition")">
    @Html.HiddenFor(w=>w.EntityDefinitionId)
    <div class="col-12">
        <div data-partial="@Url.Action("Dropdown","PropertyTypeDeclaration")?Name=@(nameof(EntityPropertyDefinition.PropertyTypeCode))">
        </div>
    </div>
    <div class="col-auto">
        <div class="form-floating">
            <select class="form-control form-control-sm" name="HasIndex">
                <option value="@false">Index Atılmasın</option>
                <option value="@true">Index Atılsın</option>
            </select>

            <label class="form-label mr-4" for="HasIndex"> Index Var Mı ? </label>
        </div>

    </div>
    <div class="col-auto">
        <div class="form-floating">
            <select class="form-control form-control-sm" name="IsUnique">
                <option value="@false">Unique Alan Değil</option>
                <option value="@true">Unique Alan</option>
            </select>

            <label class="form-label mr-4" for="IsUnique"> Unique Alan Mı ? </label>
        </div>
    </div>
    <div class="col-auto">
        <div class="form-floating">
            @Html.TextBoxFor(w=>w.Name,new {@class="form-control form-control-sm"})
            <label class="form-label mr-4" for="Name">Özellik Adı </label>
        </div>
    </div>
    <div class="col-auto">
        <div class="form-floating">
            <div data-partial="@Url.Action("Dropdown","PropertyInputTypeDeclaration")?Name=@(nameof(EntityPropertyDefinition.PropertyInputTypeCode))">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-sm btn-light-success">
        Özellik Ekle
    </button>
</form>

<script type="text/javascript">
    $(function () {
        pageEvents.loadPartials();
    });

</script>